* { padding: 0; margin: 0 }

html, body {
  height: 100%;
  width:  100%;
  font-size: 100%
}

div#header { padding-bottom: 1em }

table {
  width: 100%;
  border: none;

  &#content {
    tr {
      td {
        width: 50%;
        border: none;
        padding: 0 0.5em;
        vertical-align: top
      }
    }
  }

  &#tokens {
    tr {
      font-family: 'DejaVu Sans Mono';
      text-align: center;

      th {
        border-bottom: 1px solid #999;
        padding-bottom: 4px;
        width: 33.3%
      }

      td {
        padding: 2px;
        font-size: 9pt;
        width: 33.3%
      }

      &.undefined { background-color: #FEE }

      &:hover td { background-color: #EEE }
    }
  }
}

h2, h6 { text-align: center }

h2#lab-title{
  padding: 1em 0;
}

fieldset{
  border: none;

  textarea[name="source"] {
    border: 1px solid #CCC;
    height: 350px;
    padding: 2px;
    width: 100%
  }

  label[for="source"] {
    font-family: 'DejaVu Sans Mono';
    padding-bottom: 4px;
    display: block
  }
}
