%html
  %head
    %title Экспертные системы — Констект
  %body
    %h1 Экспертные системы
    %h2 Конспект

    %dl
      %dt Експертні системи
      %dd це розділ штучного інтелекту, що виник в надрах кібернетики, психології, лінгвістики і програмування.

    %p Це наука про знання, а саме:
    %ul
      %li як їх «видобувати» і представляти в штучних системах;
      %li як їх переробляти в штучних системах;
      %li як їх використовувати в практичної діяльності.
    %p Експертні системи відрізняються від систем штучного інтелекту тим, що вони мають пояснювальні здібності, тобто вони пояснюють отримані висновки або результати підрахунків і можуть показати весь хід розв’язку задачі.
    %p Робота з експертними системами ведеться в режимі діалогу.

    %h3 Етапи розвитку систем штучного інтелекту
    %ol
      %li 50рр. – нейронні мережі;
      %li 60рр. – евристичні методи пошуку (система GPS, розпізнавання образів);
      %li 70рр. – розробка моделей представлення знань (формалізація людських знань). Розроблена система MYCIN (система діагностики інфекційних захворювань крові);
      %li 80рр. – експертні навчальні системи.

    %p На базі MYCIN зробили порожню систему EMYCIN для використання в довільній галузі.
    %dl
      %dt PUFF
      %dd система діагностики інфекційних захворювань легенів.
      %dt PROSPECTOR
      %dd 
        %p геологічна система. Вона робила:
        %ul 
          %li вела діалог з користувачем
          %li висувала гіпотези про можливі поклади руди і задавала питання з метою підтвердження або відкидання цієї гіпотези;
          %li дозволяла користувачу вводити інформацію в довільний момент часу;
          %li перефразування питання, якщо воно незрозуміло користувачу;
          %li пояснення користувачу, навіщо задане дане питання;
          %li видача висновків з поясненням, яким чином вони отримані.

      %dt DENDRAL
      %dd експертна система хімічного синтезу органічних речовин. На основі хімічних формул і масспектрограм виводились можливі структури молекул. Ця система містила знання про можливі хімічні структури у вигляді графів, і також правила і обмеження у вигляді під графів цих графів.

    %p Процедура пошуку:
    %ol
      %li план визначення простору пошуку, генерувались усі можливі структури;
      %li перевірка на відповідність обмеженням, яка йшла в діалозі з користувачем.

    %h3 Архітектура експертної системи
    %img{ :height => 50, :width => 150, :title => 'Схема архітектури експертної системи' }
    %dl
      %dt Експерт (Е)
      %dd фахівець високої категорії в даній предметній області. При роботі з експертом треба визначити логічні закони, за якими він робить висновки, формалізувати їх і занести в систему (це робота інженера по знанням).
      %dt Інженер по знанням (ІЗ)
      %dd інженер-математик, який формалізує знання експерта.
      %dt Формалізація
      %dd спосіб вираження змісту сукупності знань через визначену форму – знаки штучної мови.
      %dt Користувач (К)
      %dd може бути спеціалістом, учнем або не спеціалістом в предметній області.
      %dt Інтелектуальний інтерфейс
      %dd програма, яка здійснює зв'язок між Користувачем і системою.
      %dt База даних
      %dd тимчасова область пам’яті, в яку заносяться релевантні знання (знання необхідні для розв’язку даної задачі або в даний момент часу). Вони «перекачуються» з Бази Знань на час вирішення задачі, а потім знищуються. Тому при створенні ЕС виникає задача визначення релевантних знань.
      %dt Розв’язувач
      %dd ерце ЕС.
      %dt Накопичення знань
      %dd
        %p область накопичення нових знань для добавлення їх в Базу Знань (при цьому перевірив їх надійність і достовірність). Блок накопичення знань існує для поповнення Бази Знань в процесі роботи ЕС. Це складний процес, бо треба визначити, чи буде знання:
        %ol
          %li дійсно новим;
          %li протиріччям існуючим знанням;
          %li достовірним.
      %dt Предметна область
      %dd це та область знань, про яку йде мова.
      %dt Проблемна область
      %dd це предметна область і задачі, які в ній вирішуються.

    %h3 Етапи побудови експертної системи
    %img{ :height => 50, :width => 150, :title => 'Схема послідованості етапів побудови експертної системи' }
    %ol
      %li
        %h4 Ідентифікація
        %p Визначаються учасники процесу створення ЕС. Для процесу проектування потрібен експерт, тому з'ясовується їх кількість і інженер по знанням. Визначаються способи їх взаємодії. Визначаються джерела знань (книжки, нормативна документація і т.д)
        %p Результат етапу – вербальний (неформалізований) опис проблемної області і самої експертної системи.
      %li
        %h4 Концептуалізація
        %p Розробляється концепція роботи ЕС, тобто як вона повинна працювати. Довизначаються основні поняття, можливість взаємодії між ними, вид взаємодії, і їх вплив один на одного.
        %p Також визначаються:
        %ul
          %li тип допустимих даних;
          %li вхідні/вихідні дані;
          %li можливість розбиття проблеми на під проблеми;
          %li визначення глобальних об’єктів проблемної області;
          %li визначення типів відношень, що мають місце;
          %li типи обмежень;
          %li визначення складу знань, що необхідні для обґрунтування прийняття рішень.
      %li
        %h4 Формалізація
        %p Усі поняття і відношення, з’ясовані на ІІ етапі, виражаються на деякій інформаційній мові, яка і визначає структуру (модель) БЗ предметної області. 
        %p Також визначаються:
        %ul
          %li достовірність;
          %li визначеність;
          %li узгодженість;
          %li надлишковість;
          %li залежність від часу вихідних даних.

      %li
        %h4 Виконання
        %p Створюється швидкий прототип – це система, що виконує стандартні задачі предметної області. Прототипів може бути декілька.
      %li
        %h4 Тестування
        %p Обкатка прототипу. Якщо вона вдала – прототип і буде ЕС.
        %p Повернення на етап формалізації означає, що була невірно вибрана модель БЗ.

    %h3 Як будувати експертну систему?
      %ol
        %li
          %h4 Вибір проблеми
          %p Визначити в чому система буде експертом. З’ясувати, чи треба будувати систему, чи просто програму.
        %li
          %h4 Аналіз проблеми
          %p Якщо знайдена підходяща проблемна область, треба визначити чи можна розв’язувати її задачі за допомогою комп’ютера. Якщо так, то треба знайти експерта в даній предметній області. Знання експерта вистроїти в ланцюжок:
          %p Змінні, що можна виміряти → можливі наслідки (або результати) → аргументація, що їх пов’язує.
          %p Експертну систему можна створювати для предметних областей, де є достатня кількість змінних, що можна виміряти.

          %p До системи MYCIN висувались такі вимоги:
          %ul
            %li вона повинна бути корисна для користувача-лікаря, тобто давати;
            %li кваліфіковані поради і бути зручною в експлуатації;
            %li вміти модифікувати знання і набувати нові;
            %li пояснювати свої висновки і рекомендації;
            %li бути інструментом, що допомагає лікарю, але не замінювати його.

          %p Процес розв’язку задачі розбивався на 3 етапи:
          %ul
            %li з’ясування, чи буде мікроорганізм, знайдений в крові таким, що збуджує хворобу;
            %li якщо так, то уточнити його вид (ідентифікувати мікроорганізм);
            %li вибрати метод лікування.

        %li
          %h4 Задача до визначення предметної області.
          %p Це зміна предметної області.
          %p Створення БЗ – це основна задача ЕС (і найскладніша), бо треба визначити:
          %ul
            %li що представляти;
            %li як це представляти в ЕС.

          %p Тобто як визначити структуру (як організувати) знань і в я кому формалізмі це представити в ЕС. Для цього треба:
          %ol
            %li визначити склад знань про ПО;
            %li визначити їх структуру (організацію);
            %li вибрати відповідний формалізм;
            %li розробити механізм роботи з цим формалізмом.
          %p Визначення що представляти, і як це зробити – це є <strong>системний підхід</strong>.
          %p З точки зору ЕС знання можна структуризувати:
          %img{ :height => 50, :width => 150, :title => 'Схема послідованості етапів побудови експертної системи' }

          %p <strong>Ті, що не можна інтерпретувати</strong> не використовуються при розв’язанні задач. <strong>Фокусуючі</strong> показують які знання треба перенести з Бази Знань в Базу Даних.
          %p Таким чином знання в ЕС можуть бути організовані:
          %ul
            %li по рівням представлення і рівням детальності;
            %li організація робочої пам’яті (БД);
            %li організація знань в БЗ.

          %p І на кожному аспекті представлення знань може бути своя ієрархія.
          %p Знання деталізуються, як тип на 3 рівнях:
          %ul
            %li загальна організація;
            %li логічна організація;
            %li фізична організація окремих структур.

          %p Це робиться для того, щоб зручніше було працювати з різнорідними знаннями і крім того можна робити модифікацію знань одного рівня не торкаючись інших. Складні дані зберігаються в складно-організованих структурах, а прості дані в простих.

          %p Моделі представлення знань діляться на 2 класи:
          %ul
            %li формальні (логічні) – в їх основі лежать формальні теорії (математична логіка, теорія предикатів, системи продукції).
            %li евристичні (неформальні).

          %p В формальних моделях використовується дедуктивний висновок, тобто це модель отримання висновку за допомогою фіксованих правил на базі множини посилок (тобто маємо множину посилок і висновки).
          %p Евристичні (неформальні) моделі – це досить різноманітний набір методів, що дозволяє передати специфіку конкретної предметної області.


